server {
	listen 80;
	listen [::]:80;

	server_name meiri.chiro.work;

	root /home/chiro/gits/meiri100/backend/public/;
	index index.html;
	location / {
		try_files $uri $uri/ =404;
	}
	location ^~ /api {
		proxy_pass http://localhost:8088;
	}
}

